body {
    background-image: url(HD-wallpaper-anime-berserk-guts-berserk-griffith-berserk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    border: 5px  ; 
    margin: 0; 
    padding: 0; 
}
